
/* 基本資訊 */
#role-list {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding: var(--gap) 2rem;
    gap: var(--gap);
    max-height: 90vh;
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    align-items: start;
    width: 100%;
    box-sizing: border-box;
    overflow-y: auto;
}

#role-list > .input-container {
    min-width: 15rem;
}

#role-list > .input-container > span {
    width: 100%;
    text-align: center;
}

.input-container.main > .btn-lg {
    width: 100%;
}

/* 提示文字 */
.hint-ok  { color: rgb(34, 197, 94);  font-size: var(--text-small-size); padding: 0; margin: 0; }
.hint-err { color: rgb(239, 68, 68);  font-size: var(--text-small-size); padding: 0; margin: 0; }
